<section class="section section-alt section-padded">
    <div class="container-fluid">
        <div class="section-header">
            <h1>
                {% trans %}sponsoring{% endtrans %}
            </h1>
        </div>
        <div class="flexslider fadein-links" data-flex-animation="slide" data-flex-controls="hide"
             data-flex-directions-position="outside" data-flex-directions-type="fancy"
             data-flex-itemwidth="250" data-flex-slideshow="false" id="client">
            <ul class="slides">
                <li>
                    <a href="#">
                        <img alt="client" src={{ asset('images/assets/clients/client1.png') }}>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="client" src={{ asset('images/assets/clients/client2.png') }}>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="client" src={{ asset('images/assets/clients/client3.png') }}>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="client" src={{ asset('images/assets/clients/client4.png') }}>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="client" src={{ asset('images/assets/clients/client5.png') }}>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="client" src={{ asset('images/assets/clients/client6.png') }}>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="client" src={{ asset('images/assets/clients/client7.png') }}>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="client" src={{ asset('images/assets/clients/client1.png') }}>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="client" src={{ asset('images/assets/clients/client2.png') }}>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="client" src={{ asset('images/assets/clients/client3.png') }}>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>