<div class="nav-collapse collapse">
    <ul class="nav pull-right">
        <li class=""><a href="{{ path('homepage') }}">Domů</a></li>
        <li class=""><a href="{{ path('news') }}">Novinky</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sbor</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('members') }}">Členové</a>
                </li>
                <li>
                    <a href="{{ path('unit') }}">Jednotka</a>
                </li>
                <li>
                    <a href="{{ path('history') }}">Historie</a>
                </li>
                <li>
                    <a href="{{ path('cups') }}">Poháry</a>
                </li>
                <li>
                    <a href="{{ path('technology') }}">Technika</a>
                </li>
            </ul>
        <li class=""><a href="{{ path('gallery') }}">Galerie</a></li>
        <li class=""><a href="{{ path('news') }}">Diskuze</a></li>
        <li class=""><a href="{{ path('events') }}">Události</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ostatní</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('documents') }}">Dokumenty</a>
                </li>
                <li>
                    <a href="{{ path('florian') }}">Svatý florián</a>
                </li>
                <li>
                    <a href="{{ path('designation') }}">Označení funkcionářů</a>
                </li>
                <li>
                    <a href="{{ path('descriptionFireEX') }}">Hasící přístroje - popis</a>
                </li>
                <li>
                    <a href="{{ path('efficientFireEX') }}">Hasící přístroje - efektivita</a>
                </li>
                <li>
                    <a href="{{ path('firefighting') }}">Hašení požárůů</a>
                </li>
                <li>
                    <a href="{{ path('nodes') }}">Vázání uzlů</a>
                </li>
                <li>
                    <a href="{{ path('sponsoring') }}">Sponzoring</a>
                </li>
                <li>
                    <a href="{{ path('references') }}">Odkazy</a>
                </li>
            </ul>
        </li>
        <li class=""><a href="{{ path('contact') }}">Kontakt</a></li>
    </ul>
</div>